@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-image shadow"  style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(/img/library_bg.png); ">
    <h1>MyLibrary</h1>
    <p class="lead">MyLibrary will help you organize your collection of books, so you always know where to find what your are looking for.</p>
    <p><a href='@Url.Action("Index","Library")' class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Catalog</h2>
        <p>
            Our database contains an ever-growing catalog of user-added books. Easily add books from the catalog to your library or add new ones. 
            Use our auto-add feature to easily add new entires to our catalog by just entering the book ISBN.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index","Book")'>View our catalog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your libraries</h2>
        <p>
            Easily add digital versions of your real-life libraries. 
            Configure the number of bookshelves and shelves plus you can use your own numbering system for reach individual shelf.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index","Library")'>Libraries &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Build your library</h2>
        <p>
            Easily select books from our catalog and virtually add them to your configured library and created a perfect replica of your own collection. 
            Easily search and find just where the book you are looking for is.
            Mark the books you've already read and add bookmarks to know where you left off.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index","MyBooks")'>Start adding &raquo;</a></p>
    </div>
</div>